$black-color: #373B55;
$soft-black: #718193;
$soft-green: #52C579;
$soft-red: #E47258;
$soft-color: #6D7080;
$yellow: #E9AD25;
$orange-color: #FEAD4D;
$dark-gray: #C0C0C0;
$dark-grey: #D1DAEB;
$dark-drey: #878A98;
$blue-color: #2988F5;
$purple-color: #8679F2;
$gray-stroke: #E2E2E2;
$light-gray: #F1F5F9;
$stroke-color: #E8EEF3;